<%= javascript_pack_tag 'app' %>
<div>
  <div style="text-align: center;">
    <h4>产品信息修改</h4>
  </div>

  <div class="top-button">
    <%= link_to '返回', me_demos_path %>
  </div>
</div>
<style>
  .top-button {
    position: absolute;
    top: 24px;
    z-index: 1;
    right: 10px;
  }
</style>