<!--<p id="notice"><%#= notice %></p>-->

<!--<h1>Me Demos</h1>-->

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Me text</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<%# @me_demos.each do |me_demo| %>
<!--      <tr>-->
<!--        <td><%#= me_demo.me_text %></td>-->
<!--        <td><%#= link_to 'Show', me_demo %></td>-->
<!--        <td><%#= link_to 'Edit', edit_me_demo_path(me_demo) %></td>-->
<!--        <td><%#= link_to 'Destroy', me_demo, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<!--<%#= link_to 'New Me Demo', new_me_demo_path %><br/>-->
<%= link_to '修改产品', edit_me_demo_path(0) %>
<br/>
<%= link_to '翻译', translates_path %>